html, body {
  margin: 0;
  /*background-color: #1d1e22;*/
  font-family: 'Raleway Dots', sans-serif;
}
h2 {
  margin: 10vh 0px 0px 0px;
  color: #33c6ff;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  opacity:0;
  animation: 1.25s ease 0.25s 1 fadeIn;
  animation-fill-mode: forwards;
}
h3 {
  margin: 20px 0px 40px;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
  opacity:0;
  animation: 1.25s ease 1.33s 1 fadeIn;
  animation-fill-mode: forwards;
}
ul {
  padding-inline-start: 0px;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services li {
  width: 130px;
  height: 170px;
  display: inline-block;
  margin: 15px 15px 15px 15px;
  list-style: none;
  vertical-align: top;
  opacity:0;
  animation: 1.5s ease 1.5s 1 fadeIn;
  animation-fill-mode: forwards;
}
section #services li:nth-child(1) { animation-delay: 2.5s }
section #services li:nth-child(2) { animation-delay: 2.8s }
section #services li:nth-child(3) { animation-delay: 3.1s }
section #services li:nth-child(4) { animation-delay: 3.4s }
section #services li:nth-child(5) { animation-delay: 3.7s }
section #services li:nth-child(6) { animation-delay: 4.0s }
section #services li div {
  width: 130px;
  height: 130px;
  font-size: 3.4em;
  text-align: center;
  line-height: 130px;
  border-radius: 10px;
  /*background-color: #333333;*/
  /*background-color: #192e42;*/
  transition: all 0.5s ease;
  background-color: transparent;
  box-shadow: 0 0 0 4px #192e42;
}
section #services li a {
  color: #33c6ff;
  text-decoration: none;
}
section #services li div:hover {
  border-radius: 100px;
  box-shadow: 0 0 0 4px #33c6ff;
}
section #services li span {
  width: 130px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: lowercase;
  font-size: 1.2em;
  text-align: center;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
@keyframes fadeInVideo {
  0% {
    opacity:0;
  }
  100% {
    opacity:0.33;
  }
}

#videoDiv {
  z-index: -5;
  background-color: #1d1e22;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  z-index: -100;
  animation: 3s ease 2.5s 1 fadeInVideo;
  animation-fill-mode: forwards;
}