html, body {
  margin: 0;
  /*background-color: #1d1e22;*/
  font-family: 'Raleway Dots', sans-serif;
}
h2 {
  margin: 10vh 0px 0px 0px;
  color: #33c6ff;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
}
h3 {
  margin: 20px 0px 40px;
  color: #fff;
  font-size: 1.2em;
  text-align: center;
}
ul {
  padding-inline-start: 0px;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services li {
  width: 150px;
  height: 170px;
  display: inline-block;
  margin: 15px 15px 40px 15px;
  list-style: none;
  vertical-align: top;
}
section #services li div {
  width: 150px;
  height: 150px;
  font-size: 3.4em;
  text-align: center;
  line-height: 150px;
  border-radius: 10px;
  /*background-color: #333333;*/
  background-color: #192e42;
  transition: all 0.5s ease;
}
section #services li a {
  color: #33c6ff;
  text-decoration: none;
}
section #services li div:hover {
  border-radius: 100px;
  box-shadow: 0 0 0 2px #33c6ff;
}
section #services li span {
  width: 150px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #fff;
  text-transform: lowercase;
  font-size: 1.2em;
  text-align: center;
}

#videoDiv {
  z-index: -5;
  background-color: #1d1e22;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.33;
  z-index: -100;
}